*{
margin:0;
padding:0;
font-style:san-serif,serif;
}
.banner{
	width:100%;
	height: 100vh;
	background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(IMG_6229.jpeg);
	background-size: cover;
	background-position:center;
}
.banner-text{
	text-align: center;
	color: white;
	padding-top: 80px;
}

.banner-text h1{
	font-size: 90px;
	font-family:Times New Roman;
}
.banner-text p{
	font-size: 25px;
	font-style:italic;
	font-family:Monotype Corsiva;
}
.banner-button{
	margin: 70px auto 0;
}
.banner-button a{
	width: 150px;
	text-decoration:none;
	display:inline-block;
	margin: 0 5px;
	padding:4px 0;
	text-align:center; 
	color:white; 
	cursor:pointer;
	border: 1px solid black;
	transition: color 0.4s;
	border-bottom-left-radius:20px;
	border-top-left-radius:20px;
	border-bottom-right-radius:20px;
	border-top-right-radius:20px;
	font-family:Times New Roman;
	z-index:-4;	
}
.banner-button span{
	background:transparent;
	height:50%;
	width:0px;
	position:absolute; 
	left:0;
	bottom:0;
	z-index:-4;	
	outline:none;
	transition:0.4s;	
}
.banner-button span{
	width:100%;
}	
.button:hover{
	border:none;
}		
.navbar{
	height:5px 0;
	width:100%;
	margin:auto;
	padding:4px 0;
	display:flex;
	align-items:left;
	justify-content:space-between;
	background:rgba(0,0,0,0.1)
}
.navbar ul li{
	list-style:none;
	display:inline-block;
	margin:0 10px;
	margin-left:50px;
	margin-top:5px;
	font-size:20px;
	position:relative;
}
.navbar ul li a{
	text-decoration:none;
	color:white;
	text-transform:uppercase;
}
.navbar ul li::after{
		content:'';
		height:1px;
		width: 0%;
		background:#009688;
		position: absolute; 
		left:0;
		bottom:-1px;
		transition:0.1s;
		color:black;
}
.navbar ul li:hover::after{
	width:100;
}	
.logo{
	width:60px;
	color:white;
	font-size:25px;
	font-family:hebrew;
	float:left;
	display:inline-block;
}
.icon{
	width:200px;
	float:left;
	height:35px;
}
.menu{
	width:100px;
	float:left;
	height:10px;
}
ul{
	float:left;
	display:flex;
	justify-content:left-radius;
	align-items:leftwards;
}
ul li{
	list-style:none;
	margin-left:62px;
	margin-top:20px;
	font-size:14px;
}

ul li a{
	text-decoration:none;
	color:white;
	font-family:armenian;
	font-weight:bold;
	transition:0.5s ease-in-out;
}

ul li a:hover{
	color:white;
}

.search{
	height:35px;
	width:195px;
	float:left;
	margin-left:350px;
	background:transparent;
	font-family:Times New Roman;
	border:2px solid white;
	color:white;
}

.srch{
	font-family:Times New Roman;
	width:130px;
	height:15px;
	background:transparent;
	border:2px solid white;
	margin-top:5px;
	color:white;
	border-right:2px solid white;
	font-size:15px;
	float:center;
	padding:10px;
	border-bottom-left-radius:10px;
	border-top-left-radius:10px;
	border-bottom-right-radius:10px;
	border-top-right-radius:10px;
}
